{% extends 'core/base.html' %}

{% block title %}Hello{% endblock %}

{% block sidebar %}
    <div class="flex flex-col text-center">
        <h1 class="text-gray-200">Gracze</h1>
        {% for player in players %}
        <a href="" class="w-3/4 my-1 p-2 mx-auto bg-slate-600 rounded-xl border-gray-400 border-2">
            <div>
                {{player.name|capfirst}}
                {{player.surname|capfirst}}
            </div>
        </a>
        {% endfor %}
    </div>

{% endblock %}

{% block content %}
    <div class="w-1/2 my-6 mx-auto p-6 bg-slate-600 rounded-xl border-gray-400 border-2"> <!-- Kontener dla formularza rejestracji -->
        <div class="justify-center flex flex-col mx-auto w-1/2">
            <h1 class="mb-6 text-3xl text-center">Edytuj Turniej</h1>
            <form method="post">
                {% csrf_token %}
                <div class="my-3">
                    <label class="inline-block mb-2">Nazwa Turnieju</label><br>
                    {{tournament_form.name}}
                </div>
                <div class="my-3">
                    <label class="inline-block mb-2">Podaj Opis</label><br>
                    {{tournament_form.description}}
                </div>
                
                {% if form.errors %}
                    <div class="bg-red-100 p-6 mb-3 rounded-xl">
                        <ul>
                            {% for field in form %}
                                {% for error in field.errors %}
                                    <li>{{ field.label }}: {{ error }}</li>
                                {% endfor %}
                            {% endfor %}
                            {% for error in form.non_field_errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
                
                <div class="flex justify-center">
                    <button class="py-4 px-8 text-lg rounded-xl bg-teal-500 hover:bg-teal-700 text-white text-center" name="tournament_form">Zatwierdź</button>
                </div>
            </form>
        </div>
    </div>
    
    
    <div class="w-1/2 my-6 mx-auto p-6 bg-slate-600 rounded-xl border-gray-400 border-2"> <!-- Kontener dla formularza rejestracji -->
        <div class="justify-center flex flex-col mx-auto w-1/2">
            <div class="justify-center flex flex-col mx-auto w-1/2">
                <h1 class="mb-6 text-3xl text-center">Dodaj Użytkownika</h1>
                <form method="post">
                    {% csrf_token %}
                    <div class="my-3">
                        <label class="inline-block mb-2">Imie</label><br>
                        {{player_form.name}}
                    </div>
                    <div class="my-3">
                        <label class="inline-block mb-2">Nazwisko</label><br>
                        {{player_form.surname}}
                    </div>
                    <div class="my-3">
                        <label class="inline-block mb-2">Nazwa użytkownika</label><br>
                        {{player_form.username}}
                    </div>
                    <div class="my-3">
                        <label class="inline-block mb-2">Data urodzenia</label><br>
                        {{player_form.birth_date}}
                    </div>
                    
                    {% if form.errors %}
                        <div class="bg-red-100 p-6 mb-3 rounded-xl">
                            <ul>
                                {% for field in form %}
                                    {% for error in field.errors %}
                                        <li>{{ field.label }}: {{ error }}</li>
                                    {% endfor %}
                                {% endfor %}
                                {% for error in form.non_field_errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                    
                    <div class="flex justify-center">
                        <button class="py-4 px-8 text-lg rounded-xl bg-teal-500 hover:bg-teal-700 text-white text-center" name="player_form">Dodaj Gracza</button>
                    </div>
                </form>
        </div>
    </div>
{% endblock %}