<!doctype html>
<!--Templatka do strony w core-->
<html>
    <head>
        <title>{%block title%}{%endblock%} | Chess Creator</title><!--tytuł strony-->
        <meta charset="utf-8"> 
        <meta name="viewport" content="width=device-width, initial-scale=1"><!--skalowanie doi urządzenia-->

        <script src="https://cdn.tailwindcss.com"></script><!--css do strony-->

    </head>

    <body class="bg-slate-700 flex flex-col min-h-screen">
        <div class="text-center text-4xl bg-slate-800 py-4 flex  border-b-2 border-l-2 border-r-2 border-gray-400">
            <div class="flex-1 font-serif">
                <a href="{%url 'core:home'%}" class="text-gray-500">Chess Creator</a>
            </div>
        </div>
        <div class="grid grid-cols-7 flex-grow">
            <div class="col-span-1 bg-slate-900 h-full overflow-auto border-r-2 border-gray-400 border-l-2" >
                {%block sidebar%}
    
                {%endblock%}
            </div>
            <div class="col-span-6 bg-slate-800 h-screen">
                
                {%if request.user.is_authenticated%}
                    <div class="bg-slate-900 py-4 flex border-b-2 border-gray-400 justify-end">             
                        <a href="" class="flex rounded-xl py-2 px-6 border-r-2 border-black h-full items-center bg-gray-400 relative z-10 hover:bg-gray-600">Profil</a>
                        <a href="{% url 'core:logout' %}" class="flex rounded-xl py-2 px-6 -ml-3 mr-3 h-full items-center bg-gray-500 hover:bg-gray-700">Wyloguj</a> 
                    </div>
                {%else%}
                <div class="bg-slate-900 py-4 flex border-b-2 border-gray-400 justify-end">             
                    <a href="{% url 'core:login' %}" class="flex rounded-xl py-2 px-6 border-r-2 border-black h-full items-center bg-gray-400 relative z-10 hover:bg-gray-600">Zaloguj</a>
                    <a href="{% url 'core:signup' %}" class="flex rounded-xl py-2 px-6 -ml-3 mr-3 h-full items-center bg-gray-500 hover:bg-gray-700">Zajerestruj się</a> 
                </div>
                {%endif%}
                {%block content%}
    
                {%endblock%}
            </div>
        </div>  
    </body>
    <footer class="text-center text-2xl bg-slate-900 py-4 border-t-2 border-gray-400 mt-auto">
        <div class="flex-1 font-serif">
            <a href="{% url 'core:home' %}" class="text-gray-400">Chess Creator@zoo</a>
        </div>
    </footer>
</html>