{% extends 'core/base.html' %}

{% block title %}Hello{% endblock %}

{% block sidebar %}

{% endblock %}

{% block content %}
    
    <div class="grid grid-cols-2 mx-3 my-3 bg-slate-600 rounded-lg">
            <a href=""class= "grid-span-1 text-center block via-transparent border-gray-400 border-2 rounded mx-1 my-1">
                <h1 class="text-3xl text-white">Stwórz Nowy Turniej</h1>
            </a>
            <a href=""class= "grid-span-1 text-center block via-transparent border-gray-400 border-2 rounded mx-1 my-1">
                <h1 class="text-3xl text-white">Edytuj Swój Turniej</h1>
            </a>
    </div>

{% endblock %}