{% extends 'core/base.html' %}

{% block title %}Create Game{% endblock %}

{% block sidebar %}

{% endblock %}

{% block content %} <!-- Początek bloku zawartości -->
    <div class="w-1/2 my-6 mx-auto p-6 bg-slate-600 rounded-xl border-gray-400 border-2"> <!-- Kontener dla formularza rejestracji -->
        <div class="justify-center flex flex-col mx-auto w-1/2"> <!-- Kontener dla nagłówka -->
            <h1 class="mb-6 text-3xl text-center">Zajerestruj się</h1> <!-- Nagłówek formularza -->
            <form method="post"> <!-- Początek formularza -->
                {% csrf_token %} <!-- Token CSRF dla zabezpieczenia formularza -->
                <div class="my-3"> <!-- Kontener dla pola "Username" -->
                    <label class="inline-block mb-2">Nazwa Użytkownika</label><br>
                    {{form.username}} <!-- Pole "Username" -->
                </div>
                <div class="my-3"> <!-- Kontener dla pola "Password" -->
                    <label class="inline-block mb-2">Adres Mail'owy</label><br>
                    {{form.email}} <!-- Pole "Password" -->
                </div>
                <div class="my-3"> <!-- Kontener dla pola "Password" -->
                    <label class="inline-block mb-2">Hasło</label><br>
                    {{form.password1}} <!-- Pole "Password" -->
                </div>
                <div class="my-3"> <!-- Kontener dla pola "Password" -->
                    <label class="inline-block mb-2">Powtórz Hasło</label><br>
                    {{form.password2}} <!-- Pole "Password" -->
                </div>
                {% if form.errors or form.non_field_errors %} <!-- Jeśli są błędy formularza -->
                    <div class="bg-red-100 p-6 mb-3 rounded-xl"> <!-- Kontener dla błędów -->
                        <ul> <!-- Lista błędów -->
                            {% for error in form.errors %} <!-- Pętla przez błędy -->
                                <li>{{error}}</li> <!-- Wyświetla błąd -->
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
                    
                <div class="flex justify-center mt-2">
                    <button type="submit" class="py-4 px-8 text-lg rounded-xl bg-blue-500 hover:bg-blue-700 text-white text-center">Zajerestruj Się</button>
                </div>
            </form> <!-- Koniec formularza -->
      </div>
    </div>
{% endblock %} <!-- Koniec bloku zawartości -->